{{ partial "head" . }}
  <body>
    <div id="wrap">
      <section id="about">
        <div class="container">
            <h1><strong>Hi, I'm {{ .Site.Params.author }}</strong>.</h1>
            <h3>I'm a freelance Full Stack Developer and Support Specialist, working remotely.</h3>
            <h3>By day, I work as Wintel Engineer at a German multinational company. Which means I run and maintained Windows servers for corporate clients.</h3> 
            <h3>You can check my CV <a href="https://www.linkedin.com/in/leiflatiff">here</a>. And you can check <a href="https://github.com/fishingelephants">Github</a> for my web projects.</h3>
            <h3>I used to be a musician. And my band rocked the local chart during those times but it's shortlived. I ended up being a <a href="/">guitar pedal geek</a> for years.</h3>
            <h3>Recently I became fascinated with minimalism, the reason why I made this page plain and neat.</h3>
            <h3><a href="/">Running</a> has become my current obsession and has been active in local marathon events. Would love to run in Bali, London and Boston!</h3>
            <h3>Occasionally, I share my thoughts on <a href="https://medium.com/@leiflatiff">Medium</a>.</h3>
            <h3>To get updates on what I'm doing right now, new projects, hobbies, indulgence and whatnot, you may check my <a href="/now/">NOW page</a>.</h3>
            <h3>Last but not least, you can find me on <a href="http://twitter.com/lee_eep">Twitter</a>, <a href="http://Instagram.com/lee_eep">Instagram</a> and <a href="mailto:leif.latiff@gmail.com">Email</a>. Love to chat, do holler.</h3>
        </div>
      </section>
    </div>
  </body>
</html>
