{{ partial "head" . }}
  <body>
    <div id="wrap">
      <section id="about">
        <div class="container">
            <h1><strong>I'm {{ .Site.Params.author }}</strong>.</h1>
            <h3>I'm a freelance Full Stack Developer and Support Specialist, working remotely.</a></h3>
            <h3>By day, I work as Wintel Engineer at a German multinational company. Which means I run and maintained Windows servers for corporate clients.</h3> 
            <h3>You can check my CV <a href="https://www.linkedin.com/in/{{ .Site.Params.Social.linkedin }}">here</a>. My web projects are  at <a href="https://github.com/{{ .Site.Params.Social.Github }}">Github</a>.</h3>
            <h3>I've been a musician. And my band used to rock the local chart but shortlived. I ended up being a <a href="/">guitar pedal geek</a> for years.</h3>
            <h3>I'm recently fascinated with being minimalist. The reason why I make this page plain and neat. My current obsession are running and actively joining <a href="/">marathon</a> events. Occasionally I share my thoughts on <a href="https://medium.com/{{ .Site.Params.Social.Medium }}">medium</a>. Check out my <a href="/">NOW</a> page, to see what I'm doing right now. It will change through time.</h3>
            <h3>You can find me at <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}">Twitter</a>, <a href="http://Instagram.com/{{ .Site.Params.Social.Instagram }}">Instagram</a> and <a href="mailto:{{ .Site.Params.Social.Email }}">Email</a>. Love to chat, do holler.</h3>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
